@model CardsModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Hand:</h1>
<p>@Model.cards[0].value of @Model.cards[0].suit</p>
<p>@Model.cards[1].value of @Model.cards[1].suit</p>
<p>@Model.cards[2].value of @Model.cards[2].suit</p>
<p>@Model.cards[3].value of @Model.cards[3].suit</p>
<p>@Model.cards[4].value of @Model.cards[4].suit</p>
<p>Remaining cards: @Model.remaining</p>
